{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>BrandStorming</title>
  <meta charset="UTF-8" />
  <meta name="description" content="Brandstorming is an online event of the official techno-management fest of National
    Institute of Technology, Durgapur organised by Team Aavishkar." />

  <meta name="keywords" content="aarohan, 2020, 2k20, nit, nitd, nitdgp, official techno-management fest,
    fest, festival, science, engineering, techno-management, durgapur, National Institute of Technology, Durgapur,
    Centre for Cognitive Activities(CCA), Aarohan is the official techno-management fest of National
    Institute of Technology, Durgapur organised by Centre for Cognitive Activities(CCA), wdct, web, design, creative team,
    coding, development, web development, research and development, e cell, entrepreneurship, R&D, robotics, robo cell,
    robowars, hackathon, events, core cell, management, official, best fest of nitd, aarohan nites, 2nd largest, eastern 
    India, 2nd largest fest in eastern India, gaming, electronics, computer science events, mechatronics" />

  <meta name="author" content="Web, Design and Creative Team(WDCT), Center for Cognitive Activities(CCA),
    National Institute of Technology, Durgapur(NIT Dgp)" />
  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="https://arhn.co.in" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  
{#  <link rel="icon" type="image/png" href="{% static "img/Aarohan-Tab-Logo" %}" />#}
    <link rel="icon" type="image/png" href="{% static "img/final-logo.png" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/bg2.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/landing.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/questions.css" %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <canvas id="stars" width="300" height="300"></canvas>
  <!-- registered alert -->
  {% if message == 'Logged In !' %}
  <div id="msg" class="alert alert-warning alert-dismissible fade show" role="alert">
    You are registered!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <!-- navbar -->
  <nav class="nav">
    <div class="container-fluid" id="nav-cont">
      <div id="mainListDiv" class="main_list">
        <ul class="navlinks">
          <li><a href="../">Home</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'team-detail' %}">My Team</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="../"> Hi {{ user.username }} !</a></li>
          {% else %}
          <li><a href="{% url 'signin' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
      <span class="navTrigger">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </div>
  </nav>

  <div class="logo-mobile">
    <a href="../">
      <img src="{% static "img/final-logo.png" %}" style="width:100px" />
    </a>
  </div>

  <div class="container text-center">
    <div class="inq-logo">
      <h1>Brand Storming</h1>
    </div>
    <div class="text-white">Brand Allocation Quiz</div>
  </div>
  {%if team.isProductAllocated %}
    <div class="alert alert-success mx-auto" style="width: 400px;text-align: center; font-size: 16px;">
      Your alloted product is - <b>{{team.product}}</b>
    </div>
  {% else %}
    
    {% if questions|length > 0 %}
    <div class="container mt-5">
      <form class="login100-form validate-form" action="{% url 'product-allot' %}" method="post">
        {% csrf_token %}
      {% for ques in questions %}
        <div class="row mt-3 bg-white rounded-lg mx-auto p-2" style="width: 95%;">
          <p class="text-center text-black mb-3" style="width: 100%; font-size: 18px;">{{ques.question}}</p>
          <div class="container text-center" style="width: 80%;">
            <div class="row">
              <div class="col-6 col-md-3 mt-2"><img src="{{ques.option1.url}}" alt="" height="100px" width="100px" style="object-fit: contain;" /></div>
              <div class="col-6 col-md-3 mt-2"><img src="{{ques.option2.url}}" alt="" height="100px" width="100px" style="object-fit: contain;" /></div>
              <div class="col-6 col-md-3 mt-2"><img src="{{ques.option3.url}}" alt="" height="100px" width="100px" style="object-fit: contain;" /></div>
              <div class="col-6 col-md-3 mt-2"><img src="{{ques.option4.url}}" alt="" height="100px" width="100px" style="object-fit: contain;" /></div>
            </div>
          </div>
          <div class="text-center mt-2 mb-2" style="width: 100%;">
              <select class="select-option" data-validate="This field is required" required>
                <option value=""> Choose Answer </option>
                <option value="1"> Option A </option>
                <option value="2"> Option B </option>
                <option value="3"> Option C </option>
                <option value="4"> Option D </option>
              </select>
          </div>
        </div>
      {% endfor %}
        <div style="width: 100%;text-align: center; padding-bottom: 5vh;">
          <button class="btn btn-success boton" type="submit"
            style="padding:0.7rem 2rem;border:0;margin-top:3vh;min-width: 9vw;background: linear-gradient(90deg, rgb(111, 158, 65) 0%, rgb(73, 111, 23) 100%);">
              <h3 style="margin:0;font-size: 1.5em;">Submit</h3>
          </button>
        </div>
      </form>
    </div>
    {% else %}
      <p class="text-center text-white p-2">
        The procedure will start today at 3 PM. Make sure you have updated your team details.<br />
        Good Luck!
      </p>
    {% endif %}
  {%endif %}

  <script type="text/javascript" src="https://rawgit.com/ironwallaby/delaunay/master/delaunay.js"></script>
  <script type="text/javascript" src="{% static "js/bg2.js" %}"></script>

  <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>

  <script src="{% static "vendor/animsition/js/animsition.min.js" %}"></script>

  <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

  <script src="{% static "vendor/select2/select2.min.js" %}"></script>

  <script src="{% static "vendor/daterangepicker/moment.min.js" %}"></script>
  <script src="{% static "vendor/daterangepicker/daterangepicker.js" %}"></script>

  <script src="{% static "vendor/countdowntime/countdowntime.js" %}"></script>

  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/nav.js" %}"></script>
</body>

</html>