@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

body {
  overflow-x: hidden;
}

.cont {
  height: 100vh;
  width: 80vw;
  background-color: transparent;
  position: center;
  padding: 50px;
}

/*welcome*/
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-8px);
  }
}

.inq-logo h1 {
  font-family: Poppins-Bold !important;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  color: #fff !important;
  font-weight: bold !important;
  margin-top: 150px;
  animation: bounce 0.8s ease-in-out alternate-reverse infinite;
}


.block {
  background-color: #ededed;
  height: auto;
  width: 600px;
  margin: 20px;
  border-radius: 6px;
  padding: 25px 30px;
  transition: color 0.3s ease;
  /* box-shadow: #eaeaea -2px 2px 3px 11px; */
}

.block:hover > .bl_text {
  color: #9a3293;
}

.info_el {
  min-height: 5vh;
}
.col {
  justify-content: center;
}

.timer {
  font-size: 40px;
  text-align: center;
  color: white;
  padding-bottom: 5vh;
}

.main_blocks {
  justify-content: center;
}

.bl_header {
  font-size: 1.8rem;
  font-weight: bolder;
  color: black;
  padding-bottom: 2vh;
}

.bl_text {
  color: black;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {

  .inq-logo h1 {
    font-size: 3rem;
    letter-spacing: 0.1;
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .inq-logo h1 {
    font-size: 3rem;
    letter-spacing: 0.1;
    margin-top: 100px;
  }
  .bl_text {
    color: black;
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .cont {
    width: 100vw;
  }

  .info_el {
    width: 100vw;
    height: auto !important;
  }

  .block {
    width: 90vw;
    margin-top: 0px;
  }

  .block_rw {
    display: block;
  }

  .infobar {
    justify-content: center;
  }

}
